.nav-header {
    background: #000000;
    padding: 1rem 2.5rem;
}

@media (max-width: 768px) {
    .nav-header {
        padding: 0.5rem;
    }
}

@media (max-width: 480px) {
    .nav-header {
        padding: 0.5rem 1rem;
    }
}

.nav-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

@media (max-width: 480px) {
    .nav-logo {
        gap: 0.25rem;
    }
}

.logo-img {
    max-width: 100%;
    height: auto;
}

.nav-logo-content .logo-cont {
    font-size: 24px;
    font-family: 'Aeonik';
    color: #ffffff;
    font-weight: 700;
    margin: 0;
}

@media (max-width: 768px) {
    .nav-logo-content .logo-cont {
        font-size: 20px;
    }
    .logo-img{
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 480px) {
    .nav-logo-content .logo-cont {
        font-size: 18px;
    }
    .logo-img{
        width: 35px;
        height: 35px;
    }
}

.sub-logo-cont {
    font-weight: 100;
    font-family: 'Aeonik';
}

.nav-btn {
    font-family: 'Aeonik';
}

.btn-btn {
    padding: 0.5rem 2rem;
    border-radius: 8px;
    font-family: 'Aeonik';
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
}

@media (max-width: 768px) {
    .btn-btn {
        padding: 0.4rem 1.5rem;
        font-size: 14px;
    }
    
}

@media (max-width: 480px) {
    .btn-btn {
        padding: 0.4rem 1rem;
        font-size: 12px;
    }
}